#auto dir
/.vs/
/obj/
/Packages/
/UserSettings/
/Temp/
/Logs/
/Library/
/ProjectSettings/

*/Debug/
*/x86/
*/x64/

#my dir
/Build/
/Build_GL/

#auto file
*.sln
*.csproj
*.DS_Store

*.vcxproj
*.filters
*.user


#myfile
*.zip
